body {
	margin: 1rem;
	background-color: #eee;
	color: #333;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#canvas {
  background-color: #eee;
  width: 600px;
  max-height: 50%;
  max-width: 100%;

  aspect-ratio: 0.7;
  border: 0px solid #aaa;
  margin: 5px;
  padding: 0px;
  position: static; /* fixed or static */
  top: 5px;
  left: 5px;
  margin: auto;
}


.parent {
  /*border: 1px solid black; */
  padding: 0em;
  text-align: center;
  margin: auto;
}

.child {
  display: inline-block;
  border: 0px solid black;
  padding: 0.1rem;
  vertical-align: middle;
  margin: auto;
} 

#myProgress {
  width: 100%;
  background-color: #ccc;
}

#myBar {
  width: 1%;
  height: 1rem;
  background-color: #0492c2;
}

#timer {
  width: 100%;
  /*border: 1px solid red;*/
  height: 1rem;
  vertical-align: middle;
  display: table-cell;
}


