body {
	background-color: #eee;
	color: #333;
  margin: 0px;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


.header {
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}


.parent {
  padding: 0em;
  text-align: center;
  display: flex;
  margin: auto;
  position: fixed; 
  bottom: 0; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}

.child {
  display: inline-block;
  border: 0px solid black;
  padding: 0.1rem;
  text-align: right;
  vertical-align: middle;
  margin: auto;
  width: 25%;
} 

#myProgress {
  width: 100%;
  background-color: #ccc;
}

#myBar {
  width: 1%;
  height: 1rem;
  background-color: #0492c2;
}

#timer {
  width: 100%;
  height: 3rem;
  vertical-align: middle;
  display: table-cell;
  font-family: IBM Plex Mono;
}


button {
  background-color: #666; /* Green */
  border: 1px solid #333;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

